.parent {
  /* text-align: center;
   */
   position: relative;
}
.child {
  display: inline-block; /*make child containers side by side*/
  vertical-align: top;

}
.subchild{
    /* vertical-align: middle; */
    /* display: inline-block; */
    vertical-align: top;
    /* margin-top: 25px; */
    margin-left: 50px;
}